disk.img
kernel
kernel.asm
kernel.b
kernel.d 
kernel.map
kernel.o
kernel.sym
user.o
userland.o
*.d 
*.o
.idea/
BuildImage
Offsets
*.asm
*.b
*.data
*.data.hex
*.dis
*.hex
*.i
*.lst
*.nl
*.nll
*.rodata
*.rodata.hex
*.s
*.X
.gdbinit
include/offsets.h
kernel.data
kernel.rodata
new_offsets.h
qlog.txt
LOG
vars.*
X/
